{% extends 'web/bootstrap-skeleton.html' %}

{% block title %} 

About - PhadChitrashala - The world of phad paintings

{% endblock %}

{% block body %}

<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Chitrashala</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/static/web/img/slide-2.jpg" alt="i2">
                    <hr class="visible-xs">
                    <p>Chitrashla is a pioneer institute for training the different styles of paintings of Rajasthan and especially committed for Phad painting (Mewar Style). More than 2000 students and many research scholars have been skilled so far. Many of them are working professionally. Chitrashala has given many internationally and nationally renowned artists, who have been honored with prestigious awards. Pradeep Mukherjee  (National Award, 1985) and Rameshwar Singh (LKA Award) are foremost among them</p>
                    <p>Even after 50 years of its foundation, Chitrashala still working efficiently. Before some decades Phad Painting was bounded to the Joshi family only and it was believed that secrets and monopoly of Phad painting must remain in family. So that it was never even taught to daughters of Joshi family but to the Daughters-in law.</p>
                    <p>During the long span of time this art started to die due to lack of artists, then Shree lal ji Joshi, a world-renowned Pahd artist and Padma Shree and Shilpguru award honored, determined to revitalize it. Thus he established “Joshi Kala Kunj” now “Chitrashala” in 1960 to develop new artists outer than Joshi family by breaking all traditional rules and customs.</p>
                    <p>He, then, initiated Herculean task of making Phad famous at international level. He experimented with various styles, media, new subject and approach. He also carried out numerous workshops and presentations in India and abroad.</p>
                    <p>Under his guidance,his both sons Kalyan Joshi and Gopal Joshi are also contributing to give new dimensions to Phad paintings. Both are honored by National Merit award in 2006. They approach contemporary and Modern themes and subject to Phad Painting. They are,now, involved in professional Phad painting.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3><a href="bauji.html">ShreeLal Joshi</a>
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3><a href="kalyan.html">Kalyan Joshi</a>
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3><a href="gopal.html">Gopal Joshi</a>
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

{% endblock %}