{% extends 'web/bootstrap-skeleton.html' %}

{% block title %} 

Phad Painting - PhadChitrashala - The world of phad paintings

{% endblock %}

{% block body %}

<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Performing </strong>Phad Paintings
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/static/web/img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>The transmission media of the flk epic are large paintings, Instrumental music, dance, songs, riddle, jokes, costumes and other equipments. The folk epic are known as Pabuji ki Phad and Devnarayan ki Phad.Their performance affords excellent opportunity to test the definition of folklore. Phad denotes a large cloth scroll on which the legend of Pabuji and Devnarayan is painted.the performance signifies Phad Bachna  “Narration of the legenand </p>
                    <p>With help of painting which involves the exposition and explanation of the painting to the audience through the songs, dances and instrumental music. The whole performance is an intricate ritualistic affair to which many rituals of performance are attached.</p>
                    <p> The Bhopas (Priest) are narrator, singers and dancers. The par bhopa performs the epic with the help of his wife, the bhopi. Bhopas use the ravanhatta or jantar accompanies the songs, though so use earthen drums. The Ravanhatta  is played with a horsehair bow which has small bells attached to. While performing, the bhopa wears a red baga (Skirt), Safa (Turban) and a red bagatari (A long Shirt) and ties Ghunghroo(anklets with bells) to his ankles.</p>
                    <p>Bhopa, the narrator, is the main singer who presents the Phad to audience with explanations and poetic narrations.  Performance of the Phad begins in the evening after sunset and dinner. The Phad (painting) is often pitched at a place central to the village or in area where the devotee of hero-gods reside.</p>
                    <p>During the performance, the principal performer’s assistance illuminates certain parts of the painting with an oil lamp, and the performer recounts the epics with the songs and dance to the accompaniment of musical instruments. The presentation is more than mere entertainment; the performer serves as priest by employing the paintings as mobile shrine. Before the narration begins, both the performer and his attendee render ritual offering to the images of the hero-gods that are drawn at the center of the painting</p>
                    <p>After making all arrangements for the performance, The Bhopa begins to sing lura (hymes) to hero-god. The performance of the Phad continues during the night and sometime s up to the dawn; The Phad is rolled up then. They narrate, sings and dance epic from one village to another through out the year on their own or at the invitation of their patrons</p>
                    <p>When Phad becomes  worn out and unserviceable it is cast off with appropriate ceremonies, into the sacred lake of Pushkar. This ceremony is known as a Thandi Karna</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

{% endblock %}